export APP_NAME=sample_phoenix_app_without_db
export CANONICAL_HOST="localhost"
export HEX_PRIVATE_ORG=your_org_name
export HEX_PRIVATE_ORG_READ_ONLY_KEY="" # get value from hex.pm
export LIVE_VIEW_SIGNING_SALT="$(mix phx.gen.secret)"
export PORT=4000
export SECRET_KEY_BASE="$(mix phx.gen.secret)"

export ALPINE_VERSION=3.12.1
export APP_BUILDER_ELIXIR_DOCKER_IMAGE="hexpm/elixir:1.11.2-erlang-23.1.2-alpine-${ALPINE_VERSION}"
export APP_RUNNER_DOCKER_IMAGE="alpine:${ALPINE_VERSION}"

# Not needed on Digital Ocean:
export DOCKER_IMAGE_NAME="sample_phoenix_app_without_db:latest"
